* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 5%;
  transition: all 1s;
  flex-direction: column;
  row-gap: 2.5rem;
}

.app > .content {
  background-color: #eaeaea;
  padding: 2.5rem 5%;
  border-radius: 10px;
  max-width: 600px;
  transition-duration: .5s;
}

.content h3 {
  margin-bottom: 1.5rem;
}

.content p {
  text-align: right;
  margin-right: 1rem;
}

.btn-container {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-container .btn-right button {
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
}

button:hover {
  opacity: .9;
}

footer {
  display: flex;
  column-gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1.5rem;
}

footer a {
  text-decoration: none;
  color: purple;
}

footer a:hover {
  text-decoration: underline;
}